*{
    font-family: 'montserrat', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    margin: 44px 0 70px 76px;
}

.nav-link{
    font-size: 24px;
    font-weight: 600;
    line-height: 29px;
    color: #989D9C;
    cursor: pointer;
    margin-right: 23px;
    text-decoration: none;
}

.login{
    background: #665AE1;
    border-radius: 20.5px;
    width: 130px;
    height: 41px;
    border: none;
    color: #FFFFFF;
    font-size: 24px;
    font-weight: 600;
    line-height: 29px;
    cursor: pointer;
}

.logo-image{
    width: 468px;
    height: 400px;
    margin-left: 125px;
    display: inline-block;
}

.about-image{
    width: 468px;
    height: 400px;
    margin-left: 125px;
    display: inline-block;
}

section{
    display: inline-block;
    margin-left: 86px;
}

h1{
    font-size: 80px;
    font-weight: 900;
    line-height: 122px;
    color: #515151;
}

h2{
    font-size: 58px;
    font-weight: 500;
    line-height: 71px;
    color: #515151;
}

p{
    font-size: 24px;
    font-weight: 400;
    line-height: 29px;
    color: #515151;
    width: 515px;
    margin-top: 82px;
    margin-bottom: 65px;
}

.explore{
    background: #ADFF00;
    border-radius: 30px;
    width: 239px;
    height: 64px;
    border: none;
    cursor: pointer;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    font-size: 28px;
    font-weight: 700;
    line-height: 34px;
    color: #000000;
}

@media (max-width: 768px) {
    header {
        margin: 30px 0 10px 20px;
    }

    .nav-link {
        font-size: 14px;
        margin-right: 10px;
    }

    .login {
        width: 70px;
        height: 30px;
        font-size: 14px;
    }

    .logo-image, .about-image {
        width: 70%;
        height: auto;
        margin-left: 15%;
    }

    section {
        display: block;
        margin-left: 5%;
        text-align: center;
        align-content: center;
    }

    h1 {
        font-size: 40px;
    }

    h2 {
        font-size: 27px;
    }

    p {
        width: 95%;
        margin-top: 10px;
        margin-bottom: 40px;
        font-size: 18px;
    }

    .explore {
        width: 120px;
        height: 45px;
        font-size: 20px;
    }
}